<div class="container">
  <div class="user-details">
    <br>
    <img id="photo" alt="photo" src="https://raw.githubusercontent.com/WillArevalo/WillArevalo.github.io/master/photo.png" style="border-radius: 50%;">
    <br>
    <h3>William Arevalo</h3>
    <h5>Data Scientist &#8226; Bogotá, CO &#8226; willarevalo.developer@gmail.com</h5>
    <p><b>Passionate Data Scientist | Scrum amateur | Pentester | Server Admin | Calisthenics devotee</b></p>
    <h6>I always keep in constant learning and evolution<br><small>I don't stop.</small></h6>
    <br>
    <h3> My Expertise </h3>
    <p>In the field of IT I am passionate about and perform well in fields related to server services, programming languages(JS, Ruby, Python), I love everything related to ethical hacking, to do certain things, SQL injection, XSS, RFI, LFI, AV, MSF. 
    I love teaching pentesting and other topics. I'm currently trying to combine machine learning with penetration tests
    </p>
    <p>Some soft skills: Outgoing, determined and goal-oriented, very good at working and collaborating with people</p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>I am meticulous when designing a website, minify and compress, SEO, speed test, demanding and committed.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-django-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <p>I always try to be at the forefront in the latest technologies about backend, Vue.js, Angular, among others...</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>The tools for programmers are of vital importance, so I keep up to date on the automation of tasks and others.</p>
    </div>
  </div>
</div>
