<head>
</head>
<body>
<div class="container">
    <div class="user-details">
        <br>
        <img id="photo" alt="photo" src="https://raw.githubusercontent.com/WillArevalo/WillArevalo.github.io/master/photo.png" style="border-radius: 50%;">
        <br>
        <h3>William Arevalo</h3>
        <h5>Data Scientist &#8226; Bogotá, CO &#8226; willarevalo.developer@gmail.com</h5>
        <p><b>Passionate Data Scientist | Scrum amateur | Pentester | Services Admin | Calisthenics devotee</b></p>
        <h6>I always keep in constant learning and evolution<br><small>I don't stop.</small></h6>
    </div>
</div>
