<div class="container">
  <div class="user-details">
    <br>
    <h3> Portafolio</h3>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Super Selectos</h4>
      <img class="u-max-full-width" alt="CarreraDeIA" src="{{ "/assets/img/proyectos/selectos.jpg" | prepend: site.baseurl }}" />
      <p>Aplicación desarrollada para plataformas Android desde la version 2.3 en adelante.</p>
    </div>
    <div class="four columns">
      <h4>Prado App</h4>
        <img class="u-max-full-width" alt="CarreraDeIA" src="{{ "/assets/img/proyectos/prado.jpg" | prepend: site.baseurl }}" />
        <p>Aplicación que consiste en la consulta de precios de electrodoméstico.</p>
    </div>
      <div class="four columns">
          <h4>Escamilla App</h4>
          <img class="u-max-full-width" alt="CarreraDeIA" src="{{ "/assets/img/proyectos/escamilla.jpg" | prepend: site.baseurl }}" />
          <p>Aplicación de consulta de precios de vuelos y funciones adicionales.</p>
      </div>
      <div class="four columns">
          <h4>delSur App</h4>
          <img class="u-max-full-width" alt="CarreraDeIA" src="{{ "/assets/img/proyectos/delsur.png" | prepend: site.baseurl }}" />
          <p>Aplicación  que permite consulta al usuario el historial de consumo sobre el servicio energético.</p>
      </div>
  </div>
    <div class="user-details">
        <br>
        <p>He desarrollado aplicaciones en su mayoria a nivel internas, no aplicaciones publicas. Es por eso no se agregan al portafolio.</p>
    </div>
</div>
