<div class="container">
  <div class="user-details">
    <br>
    <h3>Mi Portafolio</h3>
     <p>Menciono algunos proyectos que he codificado durante el desarrollo:</p>
    <h4>Aplicaciones Android</h4>
  </div>
  <div class="row user">
    <div class="three columns">
      <h4>Super Selectos</h4>
      <img class="u-max-full-width" alt="Super Selectos" src="{{ "/assets/img/proyectos/selectos.jpg" | prepend: site.baseurl }}" />
      <p>Aplicación desarrollada para plataformas Android desde la version 2.3 en adelante.</p>
    </div>
    <div class="three columns">
      <h4>Prado App</h4>
        <img class="u-max-full-width" alt="Prado" src="{{ "/assets/img/proyectos/prado.jpg" | prepend: site.baseurl }}" />
        <p>Aplicación que consiste en la consulta de precios de electrodoméstico.</p>
    </div>
      <div class="three columns">
          <h4>Escamilla App</h4>
          <img class="u-max-full-width" alt="Escamilla App" src="{{ "/assets/img/proyectos/escamilla.jpg" | prepend: site.baseurl }}" />
          <p>Aplicación de consulta de precios de vuelos y funciones adicionales.</p>
      </div>
      <div class="three columns">
          <h4>Delsur App</h4>
          <img class="u-max-full-width" alt="delsur App" src="{{ "/assets/img/proyectos/delsur.png" | prepend: site.baseurl }}" />
          <p>Permite al usuario la consulta de el historial de consumo sobre el servicio energético.</p>
      </div>
  </div>
  <div class="user-details">
    <br>
    <p style="display: none;">He desarrollado aplicaciones en su mayoria a nivel internas, no aplicaciones publicas. Es por eso no se agregan al portafolio.</p>
    <h4>Aplicacion Angular</h4>
    <p>
      <a href="http://3.139.87.203" target="_blank">http://3.139.87.203/</a>
    </p>
  </div>
    <div class="user-details">
        <br>
        <p style="display: none;">He desarrollado aplicaciones en su mayoria a nivel internas, no aplicaciones publicas. Es por eso no se agregan al portafolio.</p>
        <h4>Aplicaciones Web</h4>
    </div>
    <div class="row">
        <div class="three columns">
            <ul>
                <li><a href="http://lavillabarandgrill.com/" target="_blank">http://lavillabarandgrill.com/</a></li>
                <li><a href="http://lavillabarandgrill.com/" target="_blank">http://lavillabarandgrill.com/</a></li>
                <li><a href="https://www.junkrspecialists.com/" target="_blank">https://www.junkrspecialists.com/</a></li>
                <li><a href="http://festivalsalvadoreno.com/" target="_blank">http://festivalsalvadoreno.com/</a></li>
                <li><a href="http://zulmasmaid.com/" target="_blank">http://zulmasmaid.com/</a></li>
                <li><a href="https://bravochicken.com/" target="_blank">https://bravochicken.com/</a></li>
            </ul>
        </div>
        <div class="three columns">
            <ul>
                <li><a href="http://centrotel.net/" target="_blank">http://centrotel.net/</a></li>
                <li><a href="https://paglass.com/" target="_blank">https://paglass.com/</a></li>
                <li><a href="http://ricostacoslaurel.com/" target="_blank">http://ricostacoslaurel.com/</a></li>
                <li><a href="http://mariluna.com/" target="_blank">http://mariluna.com/</a></li>
                <li><a href="http://renaissancecontractorsva.com/" target="_blank">http://renaissancecontractorsva.com/</a></li>
            </ul>
        </div>
    </div>
</div>
