<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Adversary Attack" src="{{ "/assets/img/AdvAtk.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Adversary Attack </h5>
      <ul>
        <li>Neural Networks, Colaboratory, GPU, Vision, TensorFlow, Keras</li>
      </ul>
      <p>Making a neural network for Vision fail through adversary attack, Imperceptible to the human eye</p>
      <p>¡Nothing is what it seems!</p>
      <p><small>This image does not reflect the results obtained</small></p>
      <a class="project-link" href="https://colab.research.google.com/drive/1Zy5Lg1EicoVu-jcUBUZAkK8Phfp11p_k">Web App</a>
      <a class="project-link" href="https://willarevalo.github.io/machine%20learning/2018/07/07/adversary-attack-nn.html">See Post</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="WebLinearRegresion" src="{{ "/assets/img/dinamicLinearRegresion.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Dinamic Linear Regresion </h5>
      <ul>
        <li> Machine Learning, HTML, JS, Bootstrap4</li>
      </ul>
      <p>This web application predict how much is the cost of a house with a little database and a basic algorithm of ML</p>
      <a class="project-link" href="https://github.com/WillArevalo/Intro-Machine-Learning">Check it out</a>
      <a class="project-link" href="https://willarevalo.github.io/Intro-Machine-Learning/">Web App</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Wardo Ecommerce" src="{{ "/assets/img/Wardo.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Wardo Ecommerce </h5>
      <ul>
        <li> Django, Bootstrap4, Stripe, Responsive</li>
      </ul>
      <p>This web application is a Ecommerce with prodcuts, multilevel, and panel for publish, with Stripe pay tech</p>
      <a class="project-link" href="https://github.com/WillArevalo/Wardo">Check it out</a>
      <a class="project-link" href="https://willarevalo.pythonanywhere.com/">Web App</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="CMS with rails" src="{{ "/assets/img/IS.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Innovation Student(CMS) </h5>
      <ul>
        <li> Rails5, Bootstrap4, TinyMCE, Ruby, HTML</li>
      </ul>
      <p>Innovation Student is a Content Manager System(CMS). This is intended for students who want to learn in practice html and css, through posts and how to structure them.</p>
      <a class="project-link" href="https://github.com/WillArevalo/Project-S2/tree/master/student">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Notevares_apk" src="{{ "/assets/img/fullscreen-activity.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> No Te Vares </h5>
      <ul>
        <li> Java, Design, Permissions, JS, AndroidStudio</li>
      </ul>
      <p>"No te vares" is the application(apk) where you can have a map and geo-referencing to find your sites of interest thanks to open street map, responsive design</p>
      <a class="project-link" href="https://github.com/WillArevalo/Notevares_apk">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="PlatziVideo React" src="{{ "/assets/img/PlatziVideo.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> PlatziVideo </h5>
      <ul>
        <li>REACT, JSX, JS, HTML, CSS</li>
      </ul>
      <p>PlatziVideo is a web app for videos, similar to Youtube.</p>
      <a class="project-link" href="https://github.com/WillArevalo/Curso-de-react">Check it out</a>
      <a class="project-link" href="https://willarevalo.github.io/Curso-de-react">Web App</a>
    </div>
  </div>
</div>
